<div ng-controller="MainController as main" ng-cloak="" layout="column">

  <div class="background" style="opacity:1;background-image:url({{main.imageURL}})"/div>

  <md-fab-toolbar md-open="false" md-direction="right" class="overlay-content">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-icon md-svg-src="assets/images/icons/menu.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-toolbar layout="column">
    <md-fab-actions class="md-toolbar-tools">
      <h2>
        Bahadır AKIN Gitti Mi?
      </h2>
      <md-button class="md-primary" ng-href="http://www.amazon.com">
        Nereye?
      </md-button>
      <md-button class="md-primary" ng-click="main.showAlert($event)">
        Ne kadar kaldı?
      </md-button>
      <md-button class="md-primary" ng-href="http://www.bahadirakin.com/kimim-ben">
        Bahadır Kim?
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>

<div layout="row" layout-align="center center" class="main-center">
  <h1 class="md-display-3 answer">
    {{main.answerText}}
  </h1>
</div>
</div>

<script type="text/ng-template" id="time.tmpl.html">
  <md-dialog aria-label="Ne kadar kaldı? ve Ne kadardır Sürüyor?"  ng-cloak ng-controller="TimeDialogController as tdc">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Ne kadar kaldı? ve Ne kadardır Sürüyor?</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="tdc.hide()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    Açık konuşmak gerekirse ne kadar kaldığını bende bilmiyorum. Tek umudum yakın zamanda bitmesi.</p>
    <strong>Peki ne kadardır sürüyor?</strong></p>
    İlk mail aldığımdan (24 Eylül 2014) bu yana <timer start-time="1411506000000">{{days}} gün, {{hours}} saat, {{minutes}} dakia, {{seconds}} saniye.</timer></p>
    Gönderdikleri kod testinden (31 Ekim 2014) bu yana <timer start-time="1414765102000">{{days}} gün, {{hours}} saat, {{minutes}} dakia, {{seconds}} saniye.</timer></p>
    Belgradtaki mülakattan (9 Aralık 2014) bu yana <timer start-time="1418127380000">{{days}} gün, {{hours}} saat, {{minutes}} dakia, {{seconds}} saniye.</timer></p>
    Kabul Aldığımdan (18 Aralık 2014) bu yana <timer start-time="1418897656000">{{days}} gün, {{hours}} saat, {{minutes}} dakia, {{seconds}} saniye.</timer></p>
    Teklif Aldırığımdan (13 Temmuz 2015) bu yana <timer start-time="1436771720000">{{days}} gün, {{hours}} saat, {{minutes}} dakia, {{seconds}} saniye.</timer></p>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="tdc.hide()">Hımm...</md-button>
  </div>
</md-dialog>
</script>

</div>
